@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Libre+Franklin:400,600,700');

body {
    background-image: url("/unit_3/images/hero-code-unit3.png");
}

h1 {
	font-family: Libre Franklin 700, Helvetica, Sans Serif;
}

p {
	font-family: Libre Baskerville 400, Georgia, Serif;
}